
<% if @name %>
  <h1> My name is <%=@name%></h1>
<% end %>

<% if @mood == 'happy'%>
  <h2> HI! I'M MR MEESEEKS! LOOK AT ME!</h2>
  <div style= "border: 3px dashed red" >
    <img src='mr_meeseeks.jpeg'>
  </div>

<% elsif @mood == 'sad' || @mood == 'stressed'%>
  <h2> I JUST WANNA DIE!</h2>
  <div style= "border: 3px dashed red" >
    <img src='meeseeks_stressed.jpg'>
  </div>

<% else %>
  <h2> Existence is pain.
    <div style= "border: 3px dashed red" >
      <img src='meeseeks_space.jpg'>
    </div> </h2>
<% end %>
