<div class='border'>
<img src='http://bit.ly/1eze8aE'>
</div>
<style contenteditable>
      .border { border: 3px dashed red;
                padding: 5;
              }
</style>
<h1> "My name is
  <%=array = ['Amigo','Oscar', 'Viking']
  array[rand(0..2)]%>"</h1>
